.button {
    background-color: none; 
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 0px;
    
  }
     
    .projects{
         background-color: rgba(255, 255, 255, 0.2);
         border-radius: 0px;
    }
  
    .projects:hover{
         background-color: rgba(140, 118, 118, 0.3);
         border-radius: 28px;
    }
  
    .social{
         background-color: rgba(255, 255, 255, 0.2);
         border-radius: 0px;
    }
  
    .social:hover{
         background-color: rgba(0, 255, 255, 0.3);
         border-radius: 28px;
    }
    .tools{
         background-color: rgba(255, 255, 255, 0.2);
         border-radius: 0px;
    }
    .tools:hover{
      background-color: rgba(255, 0, 0, 0.3);
      border-radius: 25px;
  }
    
  b{
      color:black;
  }
  
  h1{
     color: #000000;
     text-align: center;
     font-size: 40px;
     
  }
  h2{
      color: black;
      text-align: left;
      font-size: 22px;
  }
  h3{
      color: #00fff2;
      text-align: left;
  }
  h4{
      color: rgb(255, 255, 255);
      text-align:center;
      line-height: 0px;
  }
  h5{
      color:rgb(250, 0, 0);
      text-align: center;
      font-size: 15px;
      line-height: 1px;
  
  }
  footer{
      border-style: solid;
      background-color: rgb(27, 27, 27);
      border-radius: 10px;
      padding: 10px;
      width: 700px;
      height: 100px;
      border-style: hidden;
      border-radius: 10px;
      text-align: center;
      line-height: 1px;
      border-spacing: 20px;
      margin: auto;
  }
  html {
      background-color: #00f7ff;
      background: url("theme.jpg") no-repeat
      center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: Arial, Helvetica, sans-serif;
    
  }
