p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
}
h1{
   color: #00ff99;
   text-align: center;
   font-size: 40px;
   
}
h2{
    color: rgb(240, 83, 83);
    text-align: left;

}
h3{
    color: #00ffcc;
    text-align: left;
}
h4{
    color: black;
    text-align:center;
    line-height: 0px;
}
h5{
    color:black;
    text-align: start;
    font-size: 15px;
    line-height: 1px;
}
html {
    background-color: #00f7ff;
    background: url("theme.jpg") no-repeat
    center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    }
