.button {
    background-color: none; 
    border: none;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 0px;
    
  }
     
    .projects{
         background-color: rgba(255, 255, 255, 0.2);
         border-radius: 5px;
    }
  
    .projects:hover{
         background-color: rgba(140, 118, 118, 0.3);
         border-radius: 28px;
    }
  
    .social{
         background-color: rgba(255, 255, 255, 0.2);
         border-radius: 5px;
    }
  
    .social:hover{
         background-color: rgba(0, 255, 255, 0.3);
         border-radius: 28px;
    }
    .tools{
         background-color: rgba(255, 255, 255, 0.2);
         border-radius: 5px;
    }
    .tools:hover{
      background-color: rgba(255, 0, 0, 0.3);
      border-radius: 25px;
  }
  .typetext h2 {
    overflow: hidden; 
    border-right: .25em solid white;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.07px;
    font-size: 22px;
    text-align: left;
    animation: 
      typing 1.4s steps(19) 1s forwards,
      blink-caret 0.75s step-end infinite;
  }
  /*not using this at the moment
  .typetext h1{
    overflow: hidden; 
    border-right: .2em solid white;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.07px;
    animation: 
      typinghi 1.4s steps(9) 1s forwards,
      blink-caret 0.75s step-end infinite;
  }
  */
  /* The typing effect */
  @keyframes typing {
    from { 
        width: 0; 
    }
    to {
        width: 35%;
    }
  }
  @keyframes typinghi {
    from { 
        width: 0; 
    }
    to {
        width: 25%;
    }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 255, 255); }
  }
  .footer-color{
    animation-name: ani;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes ani{
      0% {color: rgb(255, 0, 255);}
      20%  {color: rgb(255, 0, 0);}
      40%  {color: rgb(255, 238, 0);}
      60% {color: rgb(37, 255, 8);}
      80% {color: rgb(0, 255, 255);}
      100% {color: rgb(0, 4, 255);}
  }
  b{
      color:black;
  }
  
  h1{
     color: #000000;
     text-align: center;
     font-size: 40px;
     
  }
  h2{
      color: black;
      text-align: left;
      font-size: 22px;
  }
  h3{
      color: #00fff2;
      text-align: left;
  }
  h4{
      color: rgb(255, 255, 255);
      text-align:center;
      line-height: 5px;
  }
  h5{
      color:rgb(250, 0, 0);
      text-align: center;
      font-size: 15px;
      line-height: 20px;
      font-family: 'JetBrains Mono';
  }
  footer{
      border-style: solid;
      background-color: rgba(27, 27, 27, 0.65);
      border-radius: 10px;
      padding: 10px;
      width: 800px;
      height: 100px;
      border-style: hidden;
      border-radius: 10px;
      text-align: center;
      line-height: 1px;
      border-spacing: 20px;
      margin: auto;
      text-decoration: none;
  }
  html {
      background-color: #00f7ff;
      background: url("theme.jpg") no-repeat
      center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: Arial, Helvetica, sans-serif;
    
  }
i{
  font-family: 'JetBrains Mono';
}
::selection{
  color:cyan;
  background-color: #c5c5c507;
}